@charset "UTF-8";
/* 헤더공통 부분 css */
* {
	
}
.header_searchInput:focus {
	outline: none;
}
.header_searchInput:click {
	outline: none;
}
.header_searchInput{
	height: 50px;
	width: 340px;
	border-radius:25px;
  	border:3px solid #ffc34d;
  	background: rgba(0,0,0,0);
}
#header_searchBtn{
	color: rgba(0,0,0,0);
    background: rgba(0,0,0,0);
    border-color:rgba(0,0,0,0);
	outline: none;
	opacity: 0.7;
}
#mainNav{
	width:100%;
	height:80px;
}
#header_searchBtn.show{
   color: #FF6A4D;
   	display:inline !important;
   background: rgba(0,0,0,0);
   border-color:rgba(0,0,0,0);
   outline: none;
}
ul.navbar-nav{
	margin-top:3px;
}

#logo-img {
	width : 250px;
    margin-left: -170px;
}
.nav-search{
	margin-left:60px;
} 
.Intro_search{
	width:100%;
	height:40%;
}
.navbar-b.navbar-reduce .navbar-brand {
    color: #ffffff;
}
.navbar-b.navbar-reduce {
    transition: all .5s ease-in-out;
    background-color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-b.navbar-reduce .nav-link {
    color: #ffc34d;
    padding-right : 10px;
}

.navbar-b.navbar-reduce .nav-link:before {
    background-color: #FF6A4D;
}
.navbar-b.navbar-trans .nav-link {
    color: #ffc34d;
}
b.navbar-trans .nav-link.active {
    color: #FF6A4D;
}
.nav-link:before {
    background-color: #ffc34d;
}
.navbar-b.navbar-reduce .nav-link.active {
	 color: #ffc34d;
}
.navbar-b.navbar-reduce .nav-link:before {
    background-color:  #ffc34d;
}
.navbar-b .navbar-brand {
    color: #ffc34d;
    font-size: 1.6rem;
    font-weight: 600;
}
.navbar-brand:focus, .navbar-brand:hover {
    text-decoration: none;
}
.navbar-b.navbar-reduce .nav-item {
    padding-left: 15px;
}


/* headerUser menu  */
.headUser-menu {
	position: fixed;
	width: 15%;
	height: 250px;
	top: 110px;
	left: auto;
   	right: 8%;
   	z-index: 1100;
	background-color: #fff;
	border-radius: 5px;
	padding-top: 5px;
	padding-left: 5px;
	overflow: visible;
}


.tri{
	position: absolute;
    top: -15px;
    right: 73%;
  	width: 0;
    border-width: 0 16px 16px;
    border-color: #FFFFFF transparent;
    border-style: solid;
    z-index: 9999;
}

.headUser-menu p{
	font-size: 10pt;
	color: #999;
	margin: 5px;
	text-align: center;
}
.headUser-menu hr{
	margin: 10px;
	border: solid 0.5px #999;
}
@media (min-width:1578px) and (max-width:1650px) { 
  .headUser-menu {
   	right: 6%;
  }
}
@media (min-width:1535px) and (max-width:1578px) { .headUser-menu {	right: 5%; }}
@media (min-width:1490px) and (max-width:1534px) { .headUser-menu { right: 4%; }}
@media (min-width:1450px) and (max-width:1490px) { .headUser-menu { right: 3%;}}
@media (min-width:1410px) and (max-width:1450px) { .headUser-menu { right: 2%; }}
@media (min-width:800px) and (max-width:1080px) {  .headUser-menu { right: 2%; height: 300px;}}
@media all and (max-width:1400px) { .tri{ right: 15%; }}

#headUser-menu {
     overflow-x: visible;
     overflow-y: visible;
}


.headUserMenu-Btn{
	width: 100%;
    height: 50px;
    border: 2px solid #ffc34d;
    border-radius: 50px;
    font-size: 16px;
    color: #ffc34d;
    background-color: #fff;
    margin: 10px 5px;
}



/* Footer */
#footer-container{
	z-index: 100;
	height:240px;
    background: #ffc34d;
}
.copyright  {
	padding-top:40px;
	padding-left:70px;
   	color: #fff;
   	font-size:9pt;
}

/* Up */
.back-to-top {
  background: rgba(0,0,0,0);
  opacity: 0.6;
  position: fixed;
  display: none;
  background: #fec34d;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
}
.fa-chevron-up:before {
    content:none;
}

.Intro_searchInput{
	height:70px;
	border-radius:100px;
	border:5px solid #ffc34d; 
}
.Intro_searchInput:focus {
	outline: none;
}
#Intro_searchBtn{
	width:70px;
	height:70px;
    color: white;
    background-color:rgba(0,0,0,0);
    border-color:rgba(0,0,0,0);
}

#Intro_searchBtn:focus {
	border-color:#ffc34d;
	outline: none;
}
.searchBtn{
	font-weight:bold;
	font-size:20pt;
	color:white;
}
.ico-circle {
    height: 100px;
    width: 100px;
    font-size: 2rem;
    border-radius: 50%;
    line-height: 1.55;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 0 10px #fec34d;
    display: block;
}

.line-mf{
    background-color: #ffc34d;
}