@charset "UTF-8";
.container {
  padding: 5px 120px 10px 120px;
}
.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}
.page-body{
	min-height : 100%;
	position:relative;
	padding: 0px 400px;
}
div {
    display: block;
}
.rankTitle {
	font-size : 28px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.4px;
    color: rgb(0, 0, 0);
}
.img-circle{
    border-radius: 50%;
}

.rankList{
	padding : 12px 0;
}

.rankItem{
	height : 200px;
	list-style: none;
}
.rankInner {
	display : flex;
    position: relative;
    padding: 36px 0;
}

.rankInner:after {
    content: "";
    display: table;
    clear: both;
}
.ranking{
	display: table-cell;
    width: 120px;
    text-align : center;
    vertical-align: top;
}
.ranking img {
	width :50px;
	height: 50px;
}

.ranking span {
	margin-right : 6px;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
}
.rankInner .rankerInfo {
    float: left;
    display: inherit;
}

.rankerInfo .infoPic {
    display: table-cell;
    width: 130px;
    vertical-align: top;
}

.infoPic img {
    display: block;
    position: relative;
    width: 130px;
    height: 130px;
    border-radius: 100%;
}
.infoPic img:after {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 100%;
    border: 1px solid rgba(0,0,0,.08);
    content: "";
}
.rankerInfo .infoText {
    display: table-cell;
    width: 300px;
    padding: 17px 20px 0 20px;
    text-align: center;
}

.infoText .infoName{
	box-sizing: border-box;
	display: inline-block;
    margin-bottom: 25px;
}

.infoName span {
	display: block;
    max-width: 270px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 30px;
    line-height: 32px;
    letter-spacing: -.2px;
    font-weight: 700;
}
.infoName span a{
	color: black;
	text-decoration: none;
}
.infoName span a:hover{
	color: #FFC34D !important;
}

.infoName span a:active{
	color: #FF6A4D !important;
    text-decoration: none;
}

.rankerInfo .infoRes {
    display: table-cell;
    width: 300px;
    padding: 17px 20px 0 20px;
    text-align: left;
    margin-right: 20px;
}
.infoRes div {
	margin-bottom: 15px;
}
.lis{
	font-size : 17px;
	font-weight: bold;	
}
.res {
	font-size : 15px;	
}
.rankerBoardWrap {
    float: right;
    margin: -9px -12px 0 0;
}

.rankerBoardWrap .postList {
    padding: 0 4px 0 16px;
    font-size: 0;
    white-space: nowrap;
}

.postList .postItem {
	display: inline-block;
    vertical-align: top;
    height: 200px;
    margin: 0px 15px;
}

.review {
    position: relative;
    width: 184px;
    height: 160px;
}

.review .reviewLink {
    display: block;
    width: 184px;
    height: 160px;
    padding: 12px;
}

.reviewLink .reviewThumb {
	display: block;
    position: relative;
    overflow: hidden;
    width: 160px;
    height: 90px;
    border-radius: 4px;
    background-size: cover;
    background-position: 50%;
}

.reviewLink .reviewThumb:after {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,.1);
    content: "";
}

.reviewLink .reviewText {
	margin: 6px 0 0;
}

.reviewText .reviewTextSum {
  	display: -webkit-box;
    overflow: hidden;
    max-height: 40px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: normal;
    word-wrap: break-word;
    white-space: normal;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    font-weight: 700;
}

.rankItem.rankItem .rankInner {
    border-top: 1px solid #e5e5e5;
    position: relative;
    padding: 36px 0;
}

/* 랭킹 */
.grade {
    font-size: 16px;
    line-height: 45px;
    color: #000;
    text-align: center;
}
.score {
	color : #ffc34d;
    margin-right: 10px;
    vertical-align: text-bottom
}

.resScore{
	font-size:39px;
	color:#ffc34d;
}