#mainNav{
    text-align:center;
    width:100%;
    height:80px;
    position:fixed;
    z-index: 1030;
     background-color: #ffc34d;
       padding:15px 16px;
      padding-top:15px;
    padding-bottom:15px;
    box-shadow:0px 6px 9px 0px rgba(0,0,0,0.06);
 }
 .nav-container{
    width:100%;
    padding-top: 15px;
     padding-bottom: 15px;
    padding:15px 16px;
 }
 .navbar-brand js-scroll{
     display: inline-block;
     padding-top: .3125rem;
     padding-bottom: .3125rem;
     margin-right: 1rem;
     font-size: 1.25rem;
     line-height: inherit;
     white-space: nowrap;
 }
 .header_searchInput{
    height: 50px;
    width: 340px;
    border:0px;
    opacity: 0.4;
    border-radius:25px;
 }
 .header_searchInput:focus {
    outline: none;
 }
 .header_searchInput:click {
    outline: none;
 }
 .navbar{
    display:flex;
    align-items:center;
 }
 .nav-search{
    margin-right:100px;
 }
 .navbar-b.navbar-trans .nav-item, .navbar-b.navbar-reduce .nav-item {
     padding-left: 10px;
 }
 #navbar-nav li {
    list-style:none; 
    display:inline;
    margin:80px auto;
 }
 
 .navbar-b .navbar-brand {
     color: #fff;
     font-size: 1.6rem;
     font-weight: 600;
 }
 .navbar-b.navbar-reduce {
     transition: all .5s ease-in-out;
     background-color: #fff;
     padding-top: 15px;
     padding-bottom: 15px;
 }
 #navbarDefault a:-webkit-any-link {
    color: #fff;
     font-weight:bold;
     font-size:16px;
     padding:0px 10px;
 }
 #navbarDefault a:hover {
    color: #FF6A4D;
     font-weight:bold;
     font-size:16px;
     padding:0px 10px;
     text-decoration: underline;
    text-decoration: none;
 }
 #navbarDefault{
     margin-right: -33px;
     margin-left: -33px;
 }
 .header_searchIcon:active{
    decoration: none;
 }
 /* footer 공통css */
 footer {
     text-align:center;
     color: lightgray;
     padding: 25px 0;
     background: #ffc34d;
 }
 #footer-container p {
     margin: 0px 134px 10px;
       color: #fff;
 }
 .back-to-top {
   background: rgba(0,0,0,0);
   opacity: 0.6;
   position: fixed;
   display: none;
   background: #fec34d;
   color: #fff;
   width: 44px;
   height: 44px;
   text-align: center;
   line-height: 1;
   font-size: 16px;
   border-radius: 50%;
   right: 15px;
   bottom: 15px;
   transition: background 0.5s;
 }

 /* ----------- */

 /* Header */
#header-container{
	width:100%;
	height:80px;
	z-index: 100;
	/* position:fixed; */
    background-color: #fff;
	box-shadow:0px 6px 9px 0px rgba(0,0,0,0.06);
}	
.header-logo{
	margin-left:150px;
}
#header-menu li{
	padding-left:40px;
	list-style:none; 
	color: #ffc34d;
	display:inline;
	font-weight:bold;
    font-size:16px;
}
#header-menu a{
	text-align:center;
	padding-left:10px;
	list-style:none; 
	color: #ffc34d;
	display:inline;
	font-weight:bold;
    font-size:16px;
	
}
#header-menu li{
	padding-left:20px;
	color: #FF6A4D;
	list-style:none; 
	display:inline;
    font-weight:bold;
    font-size:16px;
}
#header-menu a:hover{
	color: #FF6A4D;
    text-decoration: none;
}
#header-menu{
	margin-top:-10px;
	margin-left:560px;
}
.header_searchInput{
	height: 50px;
	width: 340px;
	opacity: 0.4;
	border-radius:25px;
  	border:2px solid #ffc34d;
}
.header_searchInput:focus {
	outline: none;
}
.header_searchInput:click {
	outline: none;
}

/* Footer */
#footer-container{
    width:100%;
	z-index: 100;
	height:240px;
    background: #ffc34d;
    bottom:0;
}
.copyright  {
	width:300px;
	padding-top:40px;
	padding-left:70px;
   	color: #fff;
   	font-size:9pt;
}