html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* 상단 내비 */

/*공통헤더 */
#logo-img {
	z-index : 2000;
	width: 170px;
	margin-top : 3px;
	margin-left : 10px;
	cursor : pointer;
}

#mainNav{
	text-align:center;
	width:100%;
	height:80px;
	position:fixed;
	z-index: 1030;
    background-color: white;
    margin-top: 0;
   	padding:15px 16px;
  	padding-top:15px;
	padding-bottom:15px;
	box-shadow:0px 6px 9px 0px rgba(0,0,0,0.06);
}
.nav-container{
	width:100%;
	padding-top: 15px;
    padding-bottom: 15px;
	padding:15px 16px;
}
.navbar-brand js-scroll{
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.header_searchInput{
	height: 50px;
	width: 340px;
	border:0px;
	opacity: 0.4;
	border-radius:25px;
}
.header_searchInput:focus {
	outline: none;
}
.header_searchInput:click {
	outline: none;
}
.navbar{
	display:flex;
	align-items:center;
}
.nav-search{
	margin-right:100px;
}
.navbar-b.navbar-trans .nav-item, .navbar-b.navbar-reduce .nav-item {
    padding-left: 10px;
}
#navbar-nav li {
	list-style:none; 
	display:inline;
	margin:80px auto;
}

.navbar-b .navbar-brand {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
}
.navbar-b.navbar-reduce {
    transition: all .5s ease-in-out;
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
}
#navbarDefault a:-webkit-any-link {
	color: #404040;
    font-weight:bold;
    font-size:16px;
    padding:0px 10px;
}
#navbarDefault a:hover {
	color: #FF6A4D;
    font-weight:bold;
    font-size:16px;
    padding:0px 10px;
    text-decoration: underline;
	text-decoration: none;
}
#navbarDefault{
    margin-right: -33px;
    margin-left: -33px;
}
.header_searchIcon:active{
	decoration: none;
	
}

/* 상단 타이틀*/

#title {
    text-align: left;
    margin-left: 260px;
    margin-top: 90px;
    margin-bottom: 14px;
    color :  #ffC038;
}
/*상단 태그*/
.top-tag {
    text-align: left;
    margin-left: 250px;
    margin-bottom: 4px;
}
.top-tag button {
    background-color: white;
    border : 1px solid #ff6a4d;
    color : black;
    padding : 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 40px;
}

/*전체부분*/
.riewViewList-nonSearch-container{
    
    height: 200%;
}
.category-container {
    width:110%;
    text-align: center;
    margin-left: 220px;
}

.category img:hover {
    filter : brightness(80%);
}
.tag-item {
    background-color: #ff6a4d;
    color : #6a6a6a;
    border : 2px solid #ff6a4d;
}

.tag-item:hover{
    background-color: #ff6a4d;
    color: white;
}

/*카테고리*/
.category img{
    width: 585px;
    height: 267.7px;
    margin-top: 20px;
    margin-bottom: 80px;

}

.category {
    float: left;
    width: 34%;
}

/* 더보기 */
#more {
    position: absolute;
    text-align : center;
    margin-left: 200px;
    margin-top: 77%;
    margin-bottom: 50px;
}

#moreBtn {
    border: 2px solid #ffC038;
    text-align: center;
    color: #ffC038;
    cursor: pointer;
    font-size: 13px;
    background-color: white;
    padding: 10px 500px;
    font-weight: bold;
    

}

#moreBtn:hover {
    background-color :#ffC038;
    color : white;
    transition-duration: 0.4s;
}

/* footer 공통css */
footer {
    z-index: -1;
    text-align:center;
    color: lightgray;
    margin-bottom: 0;
    left : 0;
    bottom : 0;
    width : 100%;
    background: #ffc34d;
}

#footer-container p {
    margin-bottom: 0;
    padding-top: 30px;
    margin-left: 30px;
   	color: #fff;
}

.copyright p{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 50px;
}

.back-to-top {
  background: rgba(0,0,0,0);
  opacity: 0.6;
  position: fixed;
  display: none;
  background: #fec34d;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
}