@charset "UTF-8";
/* 게시글 뷰 */
.container {
  padding: 5px 120px 10px 120px;
}
div {
    display: block;
}
.plain-btn { /* 버튼 */
    border: 1px solid #d4d4d4;
    display: inline-block;
    padding: 10px;
    width : auto;
    line-height: 9px;
    font-size: inherit;
    text-align: center;
    color: black;
    cursor: pointer;
    vertical-align: baseline;
}
.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}
.page-body{
	min-height : 100%;
	position:relative;
	padding: 0px 460px;
}

.view-upper {
	padding : 10px 0px;
	border-bottom: 1px solid #efefef;
}

.view-upper .area_l {
    float: left;
}
.view-upper .area_r {
    float: right;

}
.read_tit {
   	position: relative;
    margin-top: 30px;
    padding-right: 110px;
}
.read_tit .tit_info {
    display: block;
    margin-top: 4px;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 1.4;
}

.view_stat {
    border: 1px solid #ddd;
    position: relative;
}

div.view_stat div.info {
    margin-left: 105px;
    position: relative;
    border-left: 1px solid #ddd;
}

div.view_stat div.mphoto {
    width: 105px;
    height: 103px;
    position: absolute;
    left: 0px;
    top: 0;
    overflow: hidden;
    text-align: center;
}

div.view_stat div.mphoto img {
    display: inline;
    height: 100%;
    max-width: 100%;
    vertical-align: bottom;
}

div.view_stat div.info h1 {
    display: block;
    line-height: 0px;
    margin : 15px 0px 7px 0px;
    padding: 15px 20px 30px 20px ;
    height: 20px;
    border-bottom: 1px solid #ddd;
}

div.view_stat div.info h1 .subject {
    font-weight: bold;
    font-size: 20px;
    color: #000;
    float: left;
    display: block;
}

div.view_stat div.info p {
	margin : 0px 0px 4px 4px;
    padding: 16px 17px;
    height: 12px;
    line-height: 0px;
    color: #b2b2b2;
    position: relative;
}

div.view_stat div.info p span {
    float: left;
    height: 12px;
    font-size: 14px;
}

div.view_stat div.info p .name {
    font-weight: bold;
    color: #000;
}

div.view_stat div.info p span.date {
    padding-left: 8px;
}
/* 게시글 컨텐츠 div */
.clear{
	clear: both !important;
}

.viewbox {
    border-top: 0;
    display: inline-block;
    zoom: 1;
    *display: inline;
    width: 100%;
}
.viewbox div.content {
    padding: 30px 20px 15px 20px;
    line-height: 20px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.viewbox div.content p {
    display: block;
    margin: 0;
    padding: 0;
}
.viewbox div.content .attach {
	margin-top: 10px;
    margin-bottom: 10px;
}

/* 댓글 */
.cont_recommendation {
    margin: 27px 0 20px;
    clear :both;
}

.cont_comment {
    background-color: #f8f8f8;
    border : 1px solid #ddd;
}

.cont_comment .comment_list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 20px;
    clear : both;
}

.comment_section {
    position: relative;
    padding: 20px 0 20px 68px;
    border-bottom: 1px solid #f1f1f1;
    padding-right: 45px;
}

.pic {
    width: 48px;
    height: 48px;
    position: absolute;
    left: 0;
    top: 25px;
    overflow: hidden;
    border-radius: 24px;
    background: url( "../../community/boardImg/simbol.png" ) no-repeat center;
    background-size: 48px auto;
}
.pic img {
    width: 48px;
    height: 48px;
}

.comment_section .info {
    display: table-cell;
    width: 100%;
    margin-top: -2px;
    box-sizing: border-box;
    vertical-align: top;
}

.info .comment_post {
    padding-right: 100px;
}

.comment_section .info .data {
    display: inline-block;
    vertical-align: top;
    float: left;
}

.comment_section .info .txt_name {
    font-size: 16px;
    font-weight: bold;
    float: left;
    line-height: 21px;
    display: inline-block;
}

.comment_section .info .txt_date {
    font-size: 14px;
    color: #ccc;
    float: left;
    margin-left: 10px;
    line-height: 25px;
}

.comment_section .info .comment_cont {
    font-size: 14px;
    line-height: 20px;
    float: left;
    width: 100%;
    word-break: break-word;
    padding-right: 10px;
    box-sizing: border-box;
    margin-top: 7px;
    color: #333;
}

.comment_reply {
    position: absolute;
    top: 18px;
    right: 50px;
    color: #666;
}
.comment_reply a {
    color: #666;
}
.option {
	display: table-cell;
}
.dropdown {
	float: right;
	border-color: none;
}
.dropdown-toggle {
	border : 0;
	background-color: #f8f8f8;
}
.open>.dropdown-menu {
    display: table !important;
}
.dropdown-menu {
	text-align : center;
    min-width : 20px !important;
    height: 56px !important;
    cursor: pointer !important;
}
.dropdown-menu .a {
	margin: 20px;
	font-size : 20px;
}
.ico_more {
	width: 20px;
    height: 20px;
    background: url( "/FoodFighter/resources/img/community/boardImg/more.svg" ) no-repeat center;
}
/* 댓글 페이징 */
.simple_paging {
    position: relative;
    margin-top: 20px;
    text-align: center;
}

.simple_paging a {
    border: 1px solid #d4d4d4;
    display: inline-block;
    width: 26px;
    height: 29px;
    font-size: inherit;
    text-align: center;
    line-height: 26px;
    color: black;
}
.simple_paging a.now, .simple_paging a:hover{
    border: 1px solid #343434;
    background: #666;
    color: #fff;
    letter-spacing: -1px;
}

/* 댓글 작성 */
.cont_comment .comment_write {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0 30px;
}

.cont_comment .inner_text_write {
    border-color: #efefef;
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    padding: 10px 10px 10px 10px;
    border-radius: 2px;
}
.box_textarea textarea {
	width: 100%;
    height: 86px;
    padding: 0;
    border: 0;
    font-size: 13px;
    background-color: rgba(0,0,0,0);
    resize: none;
    vertical-align: top;
    color:#444444;
}
.wrap_menu {
    margin-top: 3px;
}

.wrap_menu:after {
    display: block;
    clear: both;
    content: "";
}
.wrap_menu .area_l {
	float : left;
}
.wrap_menu .area_r {
    float: right;
}

.btnTab {
    display: inline-block;
    width: 25px;
    height: 25px;
    overflow: hidden;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 4px;
	padding: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}
.ico_bbs {
    display: inline-block;
    vertical-align: top;
    text-indent: -9999px;
}
.ico_photo {
	width: 18px;
    height: 18px;
    background: url( "../../community/boardImg/photo.svg" ) no-repeat center;
}

.sr_only {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0px, 0px, 0px, 0px);
    padding: 0px;
    margin: -1px;
    overflow: hidden;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}

.num_text {
    display: inline-block;
    margin: 10px 0 0 3px;
    font-size: 11px;
    vertical-align: top;
    color: #666;
}
.btn_item {
    margin: 0px 0px 0px 6px;
}
.ico_lock {
	width: 18px;
    height: 21px;
    background: url( "../../community/boardImg/lock.svg" ) no-repeat center;
}

.btn_group {
    display: inline-block;
    margin-left: 6px;
}

.comment_modify { /* 댓글 수정 */
    margin-top: 25px;
}

.comment_replyWrite{
    padding-top: 25px;
}

/* 대댓 작성 */
.comment_replyWrite{
    padding-top: 23px;
}
.comment_replyWrite .inner_text_write {
    border-color: #efefef;
    border: 1px solid #efefef;
    padding: 10px 10px 10px 16px;
    background-color: #fff;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-radius: 2px;
}