@charset "UTF-8";
/* 본문 */
.container {
  padding: 5px 120px 10px 120px;
}
.page-header {
    padding-bottom: 9px;
    margin: 40px 0 0px;
}
.page-body{
	/* min-height : 100%;
	position:relative; */
	padding: 0px 460px;
	height : 720px;
}
div {
    display: block;
}
colgroup {
    display: table-column-group;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}

thead .admin {
	background: #efefef;
	border-top-color : 3px solid #d4d4d4;
	border-bottom-color: 1px solid #d4d4d4;
}

.admin #allCheck {
	vertical-align: middle;
	text-align: center;
}

.tb-center {
    text-align: center;
}
.tb-left {
    text-align: left;
}
.content-wrapper { /* 처음목록/글쓰기 버튼 div*/ 
    padding: 5px 0 5px 0 !important;
}
.content-wrapper .paging {
    padding-top: 10px;
    height: 17px;
    width : auto;
    text-align: left;
    line-height: 0;
    vertical-align: top;
    display: inline-block;
}
.paging a {
    border: 1px solid #d4d4d4;
    display: inline-block;
    width: 26px;
    height: 29px;
    font-size: inherit;
    text-align: center;
    line-height: 26px;
    color: black;
    margin: 0px 3px;
}
.paging a.now, .paging a:hover{
    border: 1px solid #343434;
    background: #666;
    color: #fff;
    letter-spacing: -1px;
}

.listBtnBox { /* 처음목록/글쓰기 버튼 */
	width : auto;
	float : right;
    text-align: right;
}
.plain-btn { /* 버튼 */
    border: 1px solid #d4d4d4;
    display: inline-block;
    padding: 10px;
    width : auto;
    line-height: 9px;
    font-size: inherit;
    text-align: center;
    color: black;
    cursor: pointer;
    vertical-align: baseline;
}
.list-search{ /* 글 검색 div */
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}
fieldset {
    display: block;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
}
select{
	border: 1px solid #dddddd;
	width : 70px;
    height: 30px;
    margin : 3px 0;
}
#inp{
	border: 1px solid #dddddd;
    padding: 10px;
    height: 30px;
    margin: 3px 5px;
}
