@charset "UTF-8";
body {
	color: #999;
	background: #ffffff;
	font-family: 'Roboto', sans-serif;
}
.form-control {
	border-color: #eee;
	min-height: 41px;
	box-shadow: none !important;
}
.form-control:focus {
	border-color: #ffc34d; /* #faf1be 수정  */
}
.form-control, .btn {        
	border-radius: 3px;
}
.myModifyFormDiv {
	width: 800px;
	margin: 80px auto 0;
	padding: 30px 0;
}
.myModifyFormDiv h2 {
	color: #333;
	margin: 0 0 30px 30px;
	display: inline-block;
	padding: 0 30px 10px 0;
	border-bottom: 3px solid #ffc34d;
}
.myModifyFormDiv form {
	color: #999;
	border-radius: 3px;
	margin-bottom: 15px;
	background: #fff;
	padding: 30px;
}
.myModifyFormDiv .form-group row {
	margin-bottom: 20px;
}

.myModifyFormDiv .btn {
	font-size: 16px;
	font-weight: bold;
	background: #ffc34d;
	border: none;
}

.myModifyFormDiv .btn:hover, .myModifyFormDiv .btn:focus {
	background: #FF6A4D;
	outline: none !important;
}
.myModifyFormDiv a {
	color:  #ffc34d;
	text-decoration: underline;
}
.myModifyFormDiv a:hover {
	text-decoration: none;
}
.myModifyFormDiv form a {
	color: #ffc34d;
	text-decoration: none;
}	
.myModifyFormDiv form a:hover {
	text-decoration: underline;
}

.profileImg-part {
	margin:	10px 0;
}

/* 파일업로드 버튼  */
.filebox label {
	width: 150px;
	height: 40px;
	padding: 5px 0;
	font-size: inherit;
	font-weight: bold;
	text-align: center;
	background-color: #ffc34d;
	color: #fff;
	border: 1px solid #ffc34d;
	border-radius: 4px;
}

.filebox label:hover {
	width: 150px;
	height: 40px;
	padding: 5px 0;
	font-size: inherit;
	text-align: center;
	background-color: #FF6A4D;
	color: #fff;
	border: 1px solid #FF6A4D;
	border-radius: 4px;
}
.filebox input[type="file"] { 파일 필드 숨기기 
	position: absolute; 
	width: 0; 
	height: 0; 
	padding: 0; 
	overflow: hidden; 
	clip:rect(0,0,0,0); 
	border: 0; 
} 
.modal-header {
	padding-bottom: 0;
}
.modal-header {
	padding-bottom: 0;
	background-color: #ffc34d;
}

.modal-header p,.modal-header button{
	color: #fff;
	font-weight: bold;
}

.modalForm input, .modalForm button{
	margin: 15px 0;
}

.modalForm button{
	width: 100%;
}

#myModifyFormDiv {
	position: relative;
}
#profileImgBox {
	position: absolute;
	margin-left: 30px;
}


#profilePrev {
	width: 150px;
    height: 150px; 
    border-radius: 70%;

}

#modifyPwdBtn{
	font-size: 16px;
    font-weight: bold;
    color: #495057;
    padding: .375rem .75rem;
	border: 1px solid #ced4da;
	border-radius: 3px;
	background-color: #fff;
	line-height: 1.5;
}

#modifyPWdModal .modal-body p {
	margin-left: 15px;
	font-size: 10pt;
	color: #495057;
}

/* Header */
#header-container{
	width:100%;
	height:80px;
	z-index: 100;
	position:fixed;
	top: 0;
    background-color: #fff;
	box-shadow:0px 6px 9px 0px rgba(0,0,0,0.06);
}	
#header-menu{
	margin-top:13px;
	margin-left:560px;
}
#header-menu a:hover{
	color: #FF6A4D;
    text-decoration: none;
}
#header-menu li{
	padding-left:40px;
	/* padding-left:20px; */
	list-style:none; 
	font-color: #ffc34d;
	display:inline;
	font-weight:bold;
    font-size:16px;
}
#header-menu a{
	text-align:center;
	padding-left:10px;
	list-style:none; 
	color: #ffc34d;
	display:inline;
	font-weight:bold;
    font-size:16px;
	
}
.header_searchInput{
	height: 50px;
	width: 340px;
	opacity: 0.4;
	border-radius:25px;
  	border:2px solid #ffc34d;
}
.header_searchInput:focus {
	outline: none;
}
.header_searchInput:click {
	outline: none;
}

.header_searchInput{
	height: 50px;
	width: 340px;
	border-radius:25px;
  	border:3px solid #ffc34d;
  	background: rgba(0,0,0,0);
}
#header_searchBtn{
	color: #feffff;
    background: rgba(0,0,0,0);
    border-color:rgba(0,0,0,0);
	outline: none;
	opacity: 0.7;
}
#header_searchBtn.show{
   color: #FF6A4D;
   	display:inline !important;
   background: rgba(0,0,0,0);
   border-color:rgba(0,0,0,0);
   outline: none;
}
