@charset "UTF-8";

.container {
	margin-top: 65px;
}

.btn {
	border-radius: 3px;
	background: #ffc34d;
	border: none;
}

.btn:hover {
	border-radius: 3px;
	background: #FF6A4D;
	border: none;
}



.alram-part {
	margin: 0 40px;
	font-size: 15px;
	font-weight: bold;
}

.alram-data-part {
	margin: 0 50px;
	font-size: 15px;
	font-weight: bold;
}

.menu-part {
	
	padding: 13px 0;
}

.menu-part {
	color: #8e8e8e;
	text-decoration: none;
}

.menu-part:hover{
	color: #ffc34d;
	text-decoration: none;
}

.first{
	border-top: 3px solid #ffc34d;
	color: #ffc34d;
	font-weight: bold;
	text-decoration: none;
}
.emptyDiv{
	width: 100%;
	height: 350px;
}

.emptyDiv .emptyDivContent{
	transform: translate(0,100%);
    position: absolute;
}
.emptyDiv div span{
	text-align: center;
	color: #8e8e8e;
}

a.now,a.now:visited {
	border-top: 3px solid #ffc34d;
	color: #ffc34d;
	font-weight: bold;
	text-decoration: none;
	
}


#nav{
	background-color:  #FFC34D;
	height: 80px;
}

#top {
	margin: 30px;
	display: flex;
}


#profileImg {
	width: 180px;
    height: 180px; 
    border-radius: 70%;
}

#info{
	margin: 30px;
}

#name {
	display: inline-block;
	margin-top: 2px;
	font-size: 25px;
	
}
#modifyBtn {
	margin: 0 35px;
}

#alramBox {
	display: flex;
	margin: 40px 0 10px;
}

#alramDataBox {
	display: flex;
}
/* ======= */

#menu{
	height: 50px;
	margin: 25px 0;
	
}

#menuTextBox{
	display: flex;
	justify-content: space-around;
}

/*row3 review */
.row {
	margin: 15px 0;
	justify-content: space-around;
}

.checked {
  color: orange;
}

.review {
	margin: 0 15px;
	border: 1px solid #EBEBEB;
	padding-top: 15px;
}
.review-part{
	margin-bottom: 10px;
	
}
.review-part img{
	margin-top: 10px;
	
}

.modalView-part {
	text-align: center;
	margin: 15px 5px;
}
.modalViewImg {
 	display: inline-block;
 	
}
.modalView-btn button{
	margin: 15px 3px 10px;
	color: #fff;
}
  .swiper-button-prev {
	background-image: url(../../img/leftBtn.png);
} 
 .swiper-button-next{
	background-image: url(../../img/rightBtn.png);
}  
#inner-row{
	display: flex;
}

#reviewImg-Div{
	display: block;
	
}

#reviewImg-Div, #reviewImg-Div img {
	height: 15rem;
	width:; 20rem;
}

#reviewImg-Div img{
	margin: auto auto;
	
}

#review-score {
	text-align: center;
	
}

#review-content span {
	height: 120px;
	white-space: pre-wrap;
	font-size: 14px;
	line-height: 1.4;
	max-height: 7.0em;
	overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;

}

#addReviewList{
	width: 100%;
	color: #fff;
	font-size: 12pt;
	font-weight: bold;
}

#review-resName {
	text-align: center;
	margin: 15px 0px;
}
#review-resName span {
	font-weight: bold;
}

/* socialModify */
#socialModifyBtn{
	margin-left: 10px;
}
.profileImg-part {
	margin:	10px 0;
}
#profilePrevWrap,#btnWrap{
	text-align: center;
}
#fileboxWrap{
	margin-left: 110px;
}
#profilePrev {
	width: 150px;
    height: 150px; 
    border-radius: 70%;

}


/* 파일업로드 버튼  */
.filebox label {
	width: 150px;
	height: 40px;
	padding: 5px 0;
	font-size: inherit;
	font-weight: bold;
	text-align: center;
	background-color: #ffc34d;
	color: #fff;
	border: 1px solid #ffc34d;
	border-radius: 4px;
}

.filebox label:hover {
	width: 150px;
	height: 40px;
	padding: 5px 0;
	font-size: inherit;
	text-align: center;
	background-color: #FF6A4D;
	color: #fff;
	border: 1px solid #FF6A4D;
	border-radius: 4px;
}
.filebox input[type="file"] { 파일 필드 숨기기 
	position: absolute; 
	width: 0; 
	height: 0; 
	padding: 0; 
	overflow: hidden; 
	clip:rect(0,0,0,0); 
	border: 0; 
} 








/* Header */
#header-container{
	width:100%;
	height:80px;
	z-index: 100;
	position:fixed;
	top: 0;
    background-color: #fff;
	box-shadow:0px 6px 9px 0px rgba(0,0,0,0.06);
}	
#header-menu{
	margin-top:13px;
	margin-left:560px;
}
#header-menu a:hover{
	color: #FF6A4D;
    text-decoration: none;
}
#header-menu li{
	padding-left:40px;
	/* padding-left:20px; */
	list-style:none; 
	font-color: #ffc34d;
	display:inline;
	font-weight:bold;
    font-size:16px;
}
#header-menu a{
	text-align:center;
	padding-left:10px;
	list-style:none; 
	color: #ffc34d;
	display:inline;
	font-weight:bold;
    font-size:16px;
	
}
.header_searchInput{
	height: 50px;
	width: 340px;
	opacity: 0.4;
	border-radius:25px;
  	border:2px solid #ffc34d;
}
.header_searchInput:focus {
	outline: none;
}
.header_searchInput:click {
	outline: none;
}

.header_searchInput{
	height: 50px;
	width: 340px;
	border-radius:25px;
  	border:3px solid #ffc34d;
  	background: rgba(0,0,0,0);
}
#header_searchBtn{
	color: #feffff;
    background: rgba(0,0,0,0);
    border-color:rgba(0,0,0,0);
	outline: none;
	opacity: 0.7;
}
#header_searchBtn.show{
   color: #FF6A4D;
   	display:inline !important;
   background: rgba(0,0,0,0);
   border-color:rgba(0,0,0,0);
   outline: none;
}

/* headerUser mune  */
.headUser-menu {
	position: fixed;
	width: 17%;
	height: 250px;
	top: 110px;
	left: auto;
   	right: 1%;
   	z-index: 1100;
	background-color: #fff;
	border-radius: 5px;
	padding-top: 5px;
	padding-left: 5px;
	overflow: visible;
}


.tri{
	position: absolute;
    top: -15px;
    right: 8%;
  	width: 0;
    border-width: 0 16px 16px;
    border-color: #FFFFFF transparent;
    border-style: solid;
    z-index: 9999;
}

.headUser-menu p{
	font-size: 10pt;
	color: #999;
	margin: 5px;
	text-align: center;
}
.headUser-menu hr{
	margin: 10px;
	border: solid 0.5px #999;
}
/* @media (min-width:1578px) and (max-width:1650px) { 
  .headUser-menu {
   	right: 6%;
  }
}
@media (min-width:1535px) and (max-width:1578px) { .headUser-menu {	right: 5%; }}
@media (min-width:1490px) and (max-width:1534px) { .headUser-menu { right: 4%; }}
@media (min-width:1450px) and (max-width:1490px) { .headUser-menu { right: 3%;}}
@media (min-width:1410px) and (max-width:1450px) { .headUser-menu { right: 2%; }}
@media (min-width:800px) and (max-width:1080px) {  .headUser-menu { right: 2%; height: 300px;}}
@media all and (max-width:1400px) { .tri{ right: 15%; }} */

#headUser-menu {
     overflow-x: visible;
     overflow-y: visible;
}


.headUserMenu-Btn{
	width: 95%;
    height: 50px;
    border: 2px solid #ffc34d;
    border-radius: 50px;
    font-size: 16px;
    color: #ffc34d;
    background-color: #fff;
    margin: 10px 5px;
}


/* Footer */
#footer-container{
    width:100%;
	z-index: 100;
	height:240px;
    background: #ffc34d;
    bottom:0;
}
.copyright  {
	width:300px;
	padding-top:40px;
	padding-left:70px;
   	color: #fff;
   	font-size:9pt;
}