@charset "UTF-8";

.container {
	margin-top: 65px;
}

.btn {
	border-radius: 3px;
	background: #ffc34d;
	border: none;
}

.btn:hover {
	border-radius: 3px;
	background: #FF6A4D;
	border: none;
}



.alram-part {
	margin: 0 40px;
	font-size: 15px;
	font-weight: bold;
}

.menu-part {
	
	padding: 13px 0;
}

.menu-part {
	color: #8e8e8e;
	text-decoration: none;
}

.menu-part:hover{
	color: #ffc34d;
	text-decoration: none;
}

.first{
	border-top: 3px solid #ffc34d;
	color: #ffc34d;
	font-weight: bold;
	text-decoration: none;
}

a.now,a.now:visited {
	border-top: 3px solid #ffc34d;
	color: #ffc34d;
	font-weight: bold;
	text-decoration: none;
	
}


#nav{
	background-color:  #FFC34D;
	height: 80px;
}

#top {
	margin: 30px;
	display: flex;
}


#profileImg {
	width: 180px;
    height: 180px; 
    border-radius: 70%;
}

#info{
	margin: 30px;
}

#name {
	display: inline-block;
	margin-top: 2px;
	font-size: 25px;
	
}
#modifyBtn {
	margin: 0 35px;
}

#alramBox {
	display: flex;
	margin: 40px 0;
}
/* ======= */

#menu{
	height: 50px;
	margin: 25px 0;
	
}

#menuTextBox{
	display: flex;
	justify-content: space-around;
}

/*row3 review */
.row {
	margin: 15px 0;
	justify-content: space-around;
}

.checked {
  color: orange;
}

.review {
	margin: 0 15px;
	border: 1px solid #EBEBEB;
}
.review-part{
	margin-bottom: 10px;
	
}
.review-part img{
	margin-top: 10px;
	
}

.modalView-part {
	text-align: center;
	margin: 15px 5px;
}
.modalViewImg {
 	display: inline-block;
 	
}
  .swiper-button-prev {
	background-image: url(../../img/leftBtn.png);
} 
 .swiper-button-next{
	background-image: url(../../img/rightBtn.png);
}  
#inner-row{
	display: flex;
}

#reviewImg-Div{
	display: block;
}

#review-score {
	text-align: center;
	
}

#review-content span {
	height: 120px;
	white-space: pre-wrap;
	font-size: 14px;
	line-height: 1.4;
	max-height: 7.0em;
	overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;

}

#addReviewList{
	width: 100%;
	color: #fff;
	font-size: 12pt;
	font-weight: bold;
}


/* Header */
#header-container{
	top: 0;
	width:100%;
	height:80px;
	z-index: 100;
	position:fixed;
    background-color: #fff;
	box-shadow:0px 6px 9px 0px rgba(0,0,0,0.06);
}	
.header-logo{
	margin-left:150px;
}
#header-menu li{
	padding-left:40px;
	list-style:none; 
	font-color: #ffc34d;
	display:inline;
	font-weight:bold;
    font-size:16px;
}
#header-menu a{
	text-align:center;
	padding-left:10px;
	list-style:none; 
	color: #ffc34d;
	display:inline;
	font-weight:bold;
    font-size:16px;
	
}

#header-menu a:hover{
	color: #FF6A4D;
    text-decoration: none;
}
#header-menu{
	margin-top:-5px;
	margin-left:560px;
}
.header_searchInput{
	height: 50px;
	width: 340px;
	border-radius:25px;
  	border:3px solid #ffc34d;
  	background: rgba(0,0,0,0);
}
#header_searchBtn{
	color: #feffff;
    background: rgba(0,0,0,0);
    border-color:rgba(0,0,0,0);
	outline: none;
	opacity: 0.7;
}
#header_searchBtn.show{
   color: #FF6A4D;
   	display:inline !important;
   background: rgba(0,0,0,0);
   border-color:rgba(0,0,0,0);
   outline: none;
}
.header_searchInput:focus {
	outline: none;
}
.header_searchInput:click {
	outline: none;
}

/* Footer */
#footer-container{
    width: 100%;
	z-index: 100;
	height: 240px;
    background: #ffc34d;
    bottom: 0;
}
.copyright  {
	width:300px;
	padding-top:40px;
	padding-left:70px;
   	color: #fff;
   	font-size:9pt;
}