<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cNoticeSQL">
	<!-- 공지사항 글쓰기 -->
	<insert id="writeNotice" parameterType="java.util.Map">
		insert into cnotice(seq, nickname, subject, content, show)
		values(seq_cnotice.nextval, '관리자', #{subject}, #{content}, 'y')
	</insert>
	
	<!-- 공지사항 글목록 -->
	<select id = "getCNoticeList" parameterType="java.util.Map" resultType="cNotice">
		select * from (select rownum rn, tt.* 
	  	from (select * from cnotice where show = 'y' order by seq desc)tt) 
	  	where rn between #{startNum} and #{endNum}
	</select>
	
	<!-- 공지사항 총 글 수 -->
	<select id = "getTotalA" resultType="int">
		select count(*) from cnotice where show = 'y'
	</select>
	
	<!-- 공지사항 조회수 증가 -->
	<update id="hitUpdate" parameterType="int">
		update cnotice set hit = hit+1 where seq = #{seq}
	</update>
	
	<!-- 공지사항 글목록에서 삭제 -->
	<update id="deleteNoticeAdmin" parameterType="String">
		update cnotice set show = 'n' where seq=#{temp}
	</update>
	
	<!-- 공지사항 검색한 글목록 -->
	<select id="getCNoticeSrch" parameterType="java.util.Map" resultType="cNotice">
		<![CDATA[
		select * from (select rownum rn, tt.* from 
					  (select * from cnotice where show = 'y' and ${nSrchOption} like '%'||#{nKeyword}||'%' order by seq desc)tt 
				)where rn>=#{startNum} and rn<=#{endNum}
		]]>
	</select>
	
	<!-- 공지사항 검색한 글의 총 글 수 -->
	<select id ="getCNSrchTotalA" parameterType="java.util.Map" resultType="int">
		select count(*) from cnotice where show = 'y' and ${nSrchOption} like '%'||#{nKeyword}||'%'
	</select>
	
	<!-- 공지사항 글보기 -->
	<select id="viewNotice" parameterType="int" resultType="cNotice">
		select * from cnotice where seq = #{seq}
	</select>
	
	<!-- 공지사항 글보기 이전글 -->
	<select id="viewPrevNoitce" parameterType="int" resultType="cNotice">
		select seq from (select rownum rn, tt.* 
	  	from (select seq from cnotice where show = 'y' and seq &lt; #{seq} order by seq desc)tt) 
	  	where rn = 1
	</select>
	
	<!-- 공지사항 글보기 다음글 -->
	<select id="viewNextNotice" parameterType="int" resultType="cNotice">
		select seq from (select rownum rn, tt.* 
	  	from (select seq from cnotice where show = 'y' and seq &gt; #{seq} order by seq)tt) 
	  	where rn = 1
	</select>
	
	<!-- 공지사항 글보기 검색한 글 이전글 -->
	<select id="viewSrchPrevNoitce" parameterType="java.util.Map" resultType="cNotice">
		select seq from (select rownum rn, tt.* 
	  	from (select seq from cnotice where show = 'y' and ${nSrchOption} like '%'||#{nKeyword}||'%' and seq &lt; #{seq} order by seq desc)tt) 
	  	where rn = 1
	</select>
	
	<!-- 공지사항 글보기 검색한 글 다음글 -->
	<select id="viewSrchNextNotice" parameterType="java.util.Map" resultType="cNotice">
		select seq from (select rownum rn, tt.* 
	  	from (select seq from cnotice where show = 'y' and ${nSrchOption} like '%'||#{nKeyword}||'%' and seq &gt; #{seq} order by seq)tt) 
	  	where rn = 1
	</select>
	
	<!-- 공지사항 글 수정 -->
	<update id="modifyNotice" parameterType="java.util.Map">
		update cnotice set subject=#{subject}, content=#{content}, logtime=SYSDATE where seq = #{seq}
	</update>
	
	<!-- 공지사항 글 삭제 -->
	<update id="deleteNotice" parameterType="int">
		update cnotice set show = 'n' where seq=#{seq}
	</update>
</mapper>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        