<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reviewSQL">

	<!-- 가게찾기 -->
	<!-- <select id="resSearch" parameterType="String" resultType="restaurant"> 
		select * from restaurant-test where resName like '%'||#{resName}||'%' and 
		resAddress like '%'||#{resAddress}||'%' and resTheme like '%'||#{resTheme}||'%' 
		and resMenu like '%'||#{resMenu}||'%' </select> -->

	<!-- 리뷰 작성 -->
	<insert id="writeReview" parameterType="java.util.Map">
		<!-- insert into view_test values(Nextval(seq_review),#{nickname},#{storename},#{starAvg},#{content},#{image1},#{image2},#{image3},#{image4},#{image5}) -->
		insert into view_test
		values(seq_review.nextval,#{member_seq},#{nickname},#{storename},#{starAvg},#{content},#{image1},#{image2},#{image3},#{image4},#{image5})
	</insert>

	<!-- 키워드 검색 -->
	<select id="getSearchList" parameterType="java.util.Map"
		resultType="restaurant">
	   <![CDATA[
		select * from viewList where storeName like '%'||#{keyword}||'%' and rownum >= #{startNum} and rownum <= #{endNum}
	  	]]>
	</select>
</mapper>

